.img{
    width: 280px;
    height: 250px;
    margin: 8px;
    object-fit:cover;
}
.details{
    margin: 8px;
    position: relative;
}
.desc{
    font-weight: bold;
}
.id{
    font-weight: bold;
}
.age{
    font-weight: bold;
}
.time{
    font-weight: bold;
}
.players-container{
    width: 300px;
    height: 550px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}
.btn{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    
}
.btn:hover{
    background-color: orange;
}

@media only screen and (max-width:992px){

    .players-container{
        width: 250px;
        height: 590px;
        overflow:hidden;
        margin-left:20px;
        text-align:left;
        margin-bottom:10px;
       
    }
    .img{
        width: 100%;
        height: 30%;
        margin: 8px;
        object-fit:cover;
    }

}

@media only screen and (max-width:768px){

    .players-container{
      
        margin-left:60px;
        margin-bottom:30px;
       
    }
   

}

@media only screen and (max-width:500px){

    .players-container{
      
        margin-left:100px;
       
       
    }
   

}
